priority -50

###########################################################################
#                            TEXTMATE SNIPPETS                            #
###########################################################################

#! header
snippet nico "nico" b
#!/OH YAESHH
# -*- codinggggggggggg: utf-8 -*-
$0
endsnippet


snippet title "Title transformation"
${1:a text}
${1/\w+\s*/\u$0/}
endsnippet

snippet letter
Dear $1,
$0
Yours sincerely,
$2
endsnippet
